.container {
  margin: 30px auto;
  color: rgb(102, 39, 173);
  font-size: 30px;
  text-align: center;
  max-width: 360px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: inset 0 0 10px black;
}
